setabaixo RCDATA "src\\asserts\\down.png"
banco RCDATA "src\\asserts\\business.png"
pessoas RCDATA "src\\asserts\\group.png"
darth RCDATA "src\\asserts\\perfil.png"
cadastros RCDATA "src\\asserts\\add.png"
globo RCDATA "src\\asserts\\globe.png"
atualizar RCDATA "src\\asserts\\refresh.png"
mais RCDATA "src\\asserts\\plus.png"
prog RCDATA "src\\asserts\\prog.png"
f1 RCDATA "src\\asserts\\f1.png"
email RCDATA "src\\asserts\\email.png"
user RCDATA "src\\asserts\\perfil-de-usuario.png"
registrado RCDATA "src\\asserts\\registrado.png"
segredo RCDATA "src\\asserts\\segredo.png"
cancelar RCDATA "src\\asserts\\cancelar.png"
editar RCDATA "src\\asserts\\editar.png"
tabela RCDATA "src\\asserts\\tabela.png"
home RCDATA "src\\asserts\\home.png"
